*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
navbar{
    height: 60px;
    border-color: #0f1111;
    color: #fff;

}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{

    background-image: url("../Data\ Structures/background-image");
    height: 50px;
    width: 100%;
}